@model List<Category>

<div class="row pb-2">
    <h2 class="text-primary">Category List</h2>
    <hr />
</div>

<div class="text-end">
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create New Category</a>
</div>

<table class="table table-bordered table-striped mt-5">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th>CreatedAt</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>@category.CreatedAt.ToString("yyyy-MM-dd")</td>
            </tr>
        }
</table>